node {
  shape: circle;
  fill-color: red;
	size: 20px;

	stroke-mode: plain;
	stroke-width: 1px;

  text-alignment: center;
  text-background-mode: rounded-box;
  text-background-color: white;
}

node:clicked {
  fill-color: black;
}

node:selected {
  fill-color: blue;
}

node.vehicle {
  fill-color: black;
  shape: circle;
  size: 8px;
}

edge {
  text-alignment: along;
  text-background-mode: plain;
  text-background-color: white;
}
